.bodytext
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u2315-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u2316-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u2317-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u6291-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u2319-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u2280-4,#u2290-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u2288-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u2281-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u2286-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u7563-4,#u7562-4,#u7603-4,#u7568-4,#u7662-4,#u7668-4,#u7675-4,#u7665-4,#u7727-4,#u7720-4,#u7732-4,#u7723-4,#u7746-4,#u7739-4,#u7751-4,#u7765-4,#u7758-4,#u7770-4,#u7761-4,#u7784-4,#u7777-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7599-4,#u7567-4,#u7561-4,#u7560-4,#u7670-4,#u7661-4,#u7674-4,#u7671-4,#u7718-4,#u7731-4,#u7722-4,#u7733-4,#u7737-4,#u7750-4,#u7741-4,#u7756-4,#u7769-4,#u7760-4,#u7771-4,#u7775-4,#u7788-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7556-4,#u2480-4,#u2476-4,#u7678-4,#u7735-4,#u7754-4,#u7773-4,#u7792-4,#u7400-4,#u7402-4,#u7403-4,#u7405-4,#u7486-4,#u3781-4,#u3779-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u3780-4,#u3796-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u3794-3
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u3788-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u3789-3
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u3804-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u3797-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u3791-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u3799-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u3801-3
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u7370-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u7369-3
{
	font-family: source-sans-pro-n4, sans-serif;
}

#widgetu3792_input,#widgetu3786_input,#widgetu3798_input,#widgetu7368_input
{
	font-family: source-sans-pro, sans-serif;
}

